.btn-secondary {
    background-color: #dcece3;
    color: black;
}

.RestConditions {
    border: none;
    background-color: seagreen;
    margin: 10px;
    font-weight: bold;
    color: #dcece3;
}

.CreateRule {
    border: none;
    background-color: seagreen;
    margin: 10px;
    font-weight: bold;
    color: #dcece3;
}

.RestConditions:hover {
    color: #226540;
    box-shadow: inset 0 0 10px #226540;
}

.CreateRule:hover {
    color: #226540;
    box-shadow: inset 0 0 10px #226540;
}

.selectionDiv {
    width: 95%;
    margin-top: 10px;
    left: 17%;
    background-color: #777;
    padding: 18px;
    white-space: nowrap;
}

.AlertsContainterDiv {
    width: 82.5%;
    margin-top: 10px;
    left: 17%;
    position: relative;
    top: -10em;
}

.ruleSelectionContainer {
    padding-left: 17%;
    width: 100%;
    z-index: -1;
    overflow-y: auto;
    height: 650px;
    text-align: center;
    padding-top: 2%;
    font-weight: bold;
}

.dropMenu {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdownOptions
{
    background-color: seagreen;
}

.AddCondition
{
    margin-left: 10px;
}

.RemoveCondition
{
    margin-left: 10px;
}

.UserInputField {
    display: none;
}

.buttonAdj {
    width: 2em;
    height: 2em;
    background-color: seagreen;
    border: none;
    color: #dcece3;
    font-weight: bold;
}

.buttonAdj:hover {
    color: #226540;
    box-shadow: inset 0 0 10px #226540;
}