.reportsContainerDiv {
    width: 95%;
    margin-top: 10px;
    left: 17%;
    background-color: pink; 
}

.ReportsPageMainDivClassName {
    padding-left: 17%;
    width: 100%;
    z-index: -1;
    overflow-y: auto;
    height: 650px;
}