#exportButton {
    border: none;
    background-color: seagreen;
    color: #dcece3;
    font-weight: bold;
    height: 2em;
}

    #exportButton:hover {
        color: #226540;
        box-shadow: inset 0 0 10px #226540;
    }

.reportsContainterDiv {
    width: 95%;
    margin-top: 10px;
    left: 17%;
}

.ReportsPageMainDivClassName {
    padding-left: 17%;
    width: 100%;
    overflow-y: auto;
    height: 650px;
}

.option {
    padding-top: 20px;
    padding-left: 5px;
}

.ruleText {
    padding-left: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.hideMe
{
    display: none;
}